@use "sass:math";

// mobile-first
$min-width-tablet: 992px;
$min-width-wide-screen: 1440px;

// font-weight
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semibold: 600;
$font-w-bold: 700;

// typography
%display-2xl {
	font-size: 4.5rem;
	line-height: 5.625rem;
	letter-spacing: -0.02em;
}

%display-xl {
	font-size: 3.75rem;
	line-height: 4.5rem;
	letter-spacing: -0.02em;
}

%display-lg {
	font-size: 3rem;
	line-height: 3.75rem;
	letter-spacing: -0.02em;
}

%display-md {
	font-size: 2.25rem;
	line-height: 2.75rem;
	letter-spacing: -0.02em;
}

%display-sm {
	font-size: 1.875rem;
	line-height: 2.375rem;
}

%display-xs {
	font-size: 1.5rem;
	line-height: 2rem;
}

%text-xl {
	font-size: 1.25rem;
	line-height: 1.875rem;
}

%text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

%text-md {
	font-size: 1rem;
	line-height: 1.5rem;
}

%text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

%text-xs {
	font-size: 0.75rem;
	line-height: 1.125rem;
}

// functions
@function rem($px) {
	@return math.div($px * 1px, 16px) * 1rem;
}

// mixins
@mixin focus-ring($size, $color) {
	box-shadow: 0px 0px 0px ($size * 1px) $color;
}

@mixin set-shadow-xs($size, $color) {
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px ($size * 1px) $color;
}

@mixin set-shadow-sm($size, $color) {
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06),
		0px 0px 0px ($size * 1px) $color;
}

// shadows
%shadow-xs {
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

%shadow-sm {
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}

%shadow-md {
	box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}

%shadow-lg {
	box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

%shadow-xl {
	box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}

%shadow-2xl {
	box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
}

%shadow-3xl {
	box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}
