{% extends "base.html.twig" %}
{% block body %}
    <p>base</p>
    <test-component customprop1="1" customprop2="true"></test-component>
    <p>we can use static asset import in web component</p>
    <asset-component></asset-component>
    <p>We also can use images from vite with standart asset tag</p>
    <img src="{{ asset('assets/images/vector/github.svg') }}" />
    <p>slots</p>
    <modal-component>some modal text passed inside svelte component</modal-component>
{% endblock %}
