{% extends "base.html.twig" %}

{% block body %}
    <p>base</p>
    <a href="/webcomponents">webcomponents</a>
    <br>
    <a href="/mainpage">Main Page</a>
    <p>We also can use images from vite with standard asset tag</p>
    <img src="{{ asset('assets/images/vector/github.svg') }}" />
    <p class="hide">this text visible only in px<700</p>
{% endblock %}
